@import "../styles.scss";

.general {
  height: 100%;
  width: 100%;
}

.icon-click {
  cursor: pointer;
}

.dark {
  background: black;
}

.footer {
  height: 3em;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 999;
}

::ng-deep {
  .p-submenu-list {
    width: 15em !important;
  }

}
