<div class="grid">
  <div class="col-12 flex justify-content-center">
    <h1 [ngClass]="{ 'mb-0': victory != -1 }">
      Jogo da velha (Humano x Minimax)
    </h1>
  </div>
  <ng-container *ngIf="victory !== -1">
    <div class="col-12 flex justify-content-center">
      <h2 class="my-1">
        {{
          victory == 0 ? "Empate!" : "O Jogador " + victory + " é o vencedor!"
        }}
      </h2>
    </div>
    <div class="col-12 flex justify-content-center">
      <p-button
        label="Jogar novamente"
        icon="pi pi-play"
        styleClass="p-button"
        (onClick)="restartGame()"
      ></p-button>
    </div>
  </ng-container>
  <div class="col-12">
    <div class="main">
      <ng-container *ngFor="let row of rowArray; let i = index">
        <div class="row">
          <ng-container *ngFor="let row of rowArray; let j = index">
            <div class="column">
              <div
                [ngClass]="{
                  'populate-cell': positions[i][j],
                  'win': lineVictory.indexOf(i + ',' + j) != -1 && victory != -1,
                  'lose':
                    lineVictory.indexOf(i + ',' + j) == -1 &&
                    victory != -1 &&
                    victory != 0,
                  'tied': victory == 0
                }"
                class="cell"
                (click)="humanTurn(i, j)"
              >
                <span class="game-move">{{
                  positions[i][j] ? positions[i][j] : ""
                }}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>
